{% extends "layouts/base-front.html" %}

{% block title %} Cars {% endblock %}

{% block content %}  

  <div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">All Cars</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      {% for car in list %}
        <div class="feature col">
          {% if  car.image %}
            <div class="d-inline-flex align-items-center justify-content-center fs-2 mb-3">
              <img src="/static/assets/images/thumb_{{ car.image }}">
            </div>
          {% endif %}
          <h3 class="fs-2 text-body-emphasis">{{ car.make.make_name }} {{ car.model.model_name }}</h3>
          <p>{{ car.description|truncate(95, True) }}</p>
          <a href="/view_car/{{ car.id }}" class="icon-link">
            View Car
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
      {% endfor %}

    </div>
  </div>

{% endblock content %}
